@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variables.scss";



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg-color3;
  height: 100%;

 
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.slider__title {
  @include main-title;
}

.slider__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color1;
  color: $text-color1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: $bg-color4;
  }

  &:active {
    background-color: $bg-color4;
  }
}


.slider__arrow{
    font-size: 2.5em;
}

.slider__counter {
  color: $text-color6;
}