@import '../../assets/styles/mixin.scss';
@import '../../assets/styles/variables.scss';


.home {
    display: flex;
    flex-direction: row;
}
.home__text {
    background-color:  $bg-color3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

}

.home__paragraph {
    line-height: 1.5em;
    padding: 1.5em;
    font-size: $text-font-size;
    text-align: center
}

.button {
    @include button;
}

