@import '../../assets/styles/mixin.scss';
@import '../../assets/styles/variables.scss';

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $bg-color1;
    color: $text-color2;
    padding: 0em 4em;
}

.header__logoPart, .header__loginPart  {
    display: flex;
    flex-direction: row;
    gap: 2em;

}

.header__title {
    @include main-title;
}