@import '../../assets/styles/mixin.scss';
@import '../../assets/styles/variables.scss';


.wordlist {
    padding: 1.5em 0em;
    border-top: 1px solid $text-color3;
}

.wordlist__title {
  text-align: center;
}


.wordlist__table{
    margin: auto;
    border-collapse: collapse;
    border: 2px solid $text-color3;
    width: 60%;

    th, td {
        border: 1px solid $text-color3;
        text-align: center;
        padding: 5px;
     }

     th {
        background-color: $bg-color1;
        color:$text-color2;
        font-weight: 300;
        font-size: 1.5em;
     }
}

//ряд ввода новых слов

.wordlist__inputRow {
    background-color: $bg-color3;
}
.wordlist__input {
    width: 85%;
    height: 80%;
}