//background colors
$bg-color1 : rgb(57, 150, 117);
$bg-color2 : rgb(255, 255, 255);
$bg-color3 : rgba(207, 207, 213, 0.5);
$bg-color4 : rgb(255, 165, 0);

//text colors
$text-color1 : rgb(53, 56, 59);
$text-color2 : rgb(255, 255, 255);
$text-color3 : rgb(57, 150, 117);
$text-color4 : rgb(255, 69, 0);
$text-color5 : rgb(255, 165, 0);


//text sizes
$text-font-size : 1em;
$title-font-size : 1.5em;



