@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,800");
@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variables.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


.errorContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Mukta', sans-serif;
}

.errorContainer {
  text-align: center;
  font-size: 106px;
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
  margin: 70px 15px;
}

body {
  background-color: #fdfaf5;
  margin-bottom: 50px;
}

html,
button {
  font-family: "Montserrat", Helvetica, sans-serif;
  color: #bbb;
}

.homeButton {
  background-color: $bg-color3;
  color: $text-color1;
  cursor: pointer;
  height: 50px;
  width: fit-content;

  &:hover {
    background-color: $bg-color1;
    color: $text-color2;
    border: none;
  }
}

.errorTitle {
  text-align: center;
  margin: 30px 15px;
}

.errorMessage {
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}

.errorGif {
width: 450px;
}
